:root {
    --main-bg-color:blue;
    --main-text-color: black;
}

body {
    padding: 0;
    margin: 0;
}

/* .top-nav {} */

.prev-city {
    width: 500px
}

/* .display {} */

/* Miranda: adjusted width & height make the previous cities bigger */
#cities {
    padding: 0;
    width: 300px;
    height: 700px; 
    padding-top: 2%;
}

/* #previousCities{ */
/* } */

/* Miranda: changed city text color */
.collection-item{
    color: rgb(0, 81, 181) !important;
    height: 60px;
}

/* MARTIN: ADDED CLASSES AND STYLES BELOW */

/* Miranda: made adjustments to the text */
#day-display{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 41%;
    margin-left: -100px;
    box-shadow: none;
}

/* Miranda: adjusted the width */
#weather-display{
    width: 70%;
    padding-left: 5%;
    margin-left: -2%;
}

#gif-display{
    width: 100%;
}

h1, h5 {
    font-family: 'Be Vietnam Pro', sans-serif;
}

.boxWeather {
    border-radius: 10%;
    margin-right: 0.7%;
    font-size: small;
    border: 0.5px solid;
    box-shadow: 3px 6px lightsteelblue;
}
.container{
    width:85vw;
}
#weatherbox1, #weatherbox2, #weatherbox3, #weatherbox4, #weatherbox5 {
width: 19%;
}

.searchTittle{
    margin: 24% 0 0 5%;
}

.searchBox {
    margin: 2% 0 -2% 0;
}

#search {
    padding-left: 6%; 
    margin-left: 200px;
    box-shadow: none;
}


h5 {
    font-size: larger;
    width: 85%;
}

.searchButton{
    margin: -45% 0 0 98%;
}

header {
    height: 20%;
}

.gifCards {
    width: 160px; 
    height: 160px;
}

/* Miranda: adjusted the width */
#dayDisplayText {
    
    width: 200px;
    font-size: xxx-large;
}

/* Miranda: Added classes and styles for GIF*/

/* Miranda: style to the GIFs*/

/* Miranda: added box shadow & solid blackout to make it uniform to the 5 day forecast  */
.gif{
    display: inline-block;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 1px lightsteelblue;
}

/* targets the GIF container*/
#gifContainer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr)
}




/* media query for tablet size max-width 992px*/

@media screen and (max-width: 992px) {
    #weatherbox4, #weatherbox5, #gifbox4, #gifbox5 {
        display: none;
    }

    #weatherbox1, #weatherbox2, #weatherbox3, #weatherbox4, #weatherbox5 {
        width: 33%;
    }

    .boxWeather {
        margin-right: 0;
    }
    #cities {
        padding-left: 1%;
    }
    #day-display{
        width: 44%;
    }
    #search {
        margin-top: 50px;
        height: 200px;
        width: 300px;
    }
    .searchButton {
        margin: -45% 0 0 75%;
    }
    #containerTop {
        width: 100%;
    }
    #dayDisplayText {
        display: inline-block;
        font-size: xx-large;
    }
  }
  #titleContainer{
    display: flex;
      width: 300px;
      margin: 100px auto 0px;
      justify-content: center;
      align-content: center;
  }

  .icons{
      height: 50px;
      width: 50px;
      margin-top: 50px;
  }

  /* media query for tablet size max-width 600px*/
  @media screen and (max-width: 600px) {
    #weatherbox2, #weatherbox3, #weatherbox4, #weatherbox5, #gifbox2, #gifbox3, #gifbox4, #gifbox5, #cities {
        display: none;
    }

    #weatherbox1, #gifbox1 {
        width: 120%;
        text-align: center;
    }

    #containerTop {
        display: flex;
        flex-direction: column-reverse;
        height: 24%;
      }
    #search {
        padding-left: 6%; 
    }
    .searchBox {
        margin: 1% 0 8% 0;
    }
    .searchTittle{
        margin: 0 0 0 32%;
    }
    #input_text {
        margin: 0 0 0 41%;
    }
    #day-display{
        width: 94%;
        align-items: center;
    }
    #dayDisplayText{
        margin: -25% 0 0 3%;
        width: 87%;
        text-align: center;
        padding-top: 28%;
        font-size: xx-large;
    }
    h5 {
        width: 115%;
    }
    .searchButton {
        margin: -22% 0 0 90%;
    }
  }